<div class="row">
  <div class="col s3">
    {{login-form newLogIn="newLogIn"}}
    <div class="divider"></div>
    {{signup-form newSignUp="newSignUp"}}
  </div>

  <div class="col s9">
    <div class="row">
      <div class="col s7">
        <h4>View a Legislator</h4>
        {{legislator-display legislators=model.allLegislators entries=model.localLegislators addLegislator="addLegislator"}}
      </div>
      <div class="col s5">
        {{current-user-tile logMeOut="logMeOut"}}
        {{search-form newQuery="submitQuery"}}
      </div>
    </div>
  </div>
</div>
