<div class="row">
  <div class="col s3">
    {{current-user-tile logMeOut="logMeOut"}}
  </div>
  <div class="col s9">
    <h3>{{model.remoteLegislator.first_name}} {{model.remoteLegislator.last_name}} ({{model.remoteLegislator.party}})</h3>
    {{legislator-detail legislator=model.remoteLegislator}}

    {{#each model.localLegislator as |legislator|}}
      {{review-display legislator=legislator}}
      <div class="divider"></div>
      {{review-add legislator=legislator}}
    {{/each}}
  </div>
</div>
{{log model.remoteLegislator}}
